<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}" />
    <title>Torneo Amongo</title>
</head>

<body>
    <header class="d-flex"><img src="static/image/banner.jpg" alt="BANNER"></header>
    <section id="puntos" class="puntos">
        <table class="table table-striped table-dark table-sm">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    {% for letra in listaLetra %}
                    <th scope="col">{{letra}}</th>
                    {% endfor %}
                    <th>F</th>
                    <th>G</th>
                    <th>H</th>
                </tr>
            </thead>
            <tbody>
                {% for name in tabla.keys() %}
                <tr>
                    <th scope="row">{{name}}</th>
                    {% for letra in listaLetra %}
                    <td>
                        <form action="#puntos" method="post">
                            <input class="d-none" type="number" name="celda" value={{listaLetra.index(letra) + 2}}>
                            <input class="d-none" type="text" name="name" value={{name}}> {% if letra=='D' %}
                            <input class="d-none" type="number" action="#puntos" name="punto" value="-1">
                            <input class="btn btn-danger" type="submit" value="-1"> {% elif letra=='E' %}
                            <input class="d-none" type="number" name="punto" value="+2">
                            <input class="btn btn-success" type="submit" value="+2"> {% else %}
                            <input class="d-none" type="number" name="punto" value="+1">
                            <input class="btn btn-primary" type="submit" value="+1">{% endif%}
                        </form>
                    </td>
                    {% endfor %}
                    <td>
                        <form action="#puntos" method="post">
                            <input class="d-none" type="number" name="celda" value="{{6 + 1}}">
                            <input class="d-none" type="text" name="name" value={{name}}>
                            <input class="d-none" type="number" name="punto" value="+1">
                            <input class="btn btn-primary" type="submit" value="+1">
                        </form>
                    </td>
                    <td>
                        <form action="#puntos" method="post">
                            <input class="d-none" type="number" name="celda" value="{{7 + 1}}">
                            <input class="d-none" type="text" name="name" value={{name}}>
                            <input class="d-none" type="number" name="punto" value="+1">
                            <input class="btn btn-primary" type="submit" value="+1">
                        </form>
                    </td>
                    <td>
                        <form action="#puntos" method="post">
                            <input class="d-none" type="number" name="celda" value="{{8 + 1}}">
                            <input class="d-none" type="text" name="name" value={{name}}>
                            <input class="d-none" type="number" name="punto" value="+3">
                            <input class="btn btn-success" type="submit" value="+3">
                        </form>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </section>
    <h2 class="text-align-center">PARTIDA {{partida}}</h2>
    <section class="d-block">
        <form method="get" class="mb-3">
            <input class="d-none" type="number" name="sig" value="1">
            <input type="submit" class="btn btn-warning pr-5" value="Siguente partida ->">
        </form>
        <form method="get">
            <input class="d-none" type="number" name="back" value="-1">
            <input type="submit" class="btn btn-warning pr-5" value="<- Anterior partida">
        </form>
    </section>

    <div class="contenedor">
        <h2>Tripulante</h2>
        <table class="table table-bordered table-sm">
            <tbody>
                {% for letra in listaLetra %}
                <tr>
                    <th scope="col">{{letra}}</th>
                    <td scope="col" class="bg-success info">{{info[listaLetra.index(letra)]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Impostor</h2>
        <table class="table table-bordered table-sm">
            <tbody>
                <tr>
                    <th scope="col">F</th>
                    <td scope="col" class="bg-danger info">{{info[-3]}}</td>
                </tr>
                <tr>
                    <th scope="col">G</th>
                    <td scope="col" class="bg-danger info">{{info[-2]}}</td>
                </tr>
                <tr>
                    <th scope="col">H</th>
                    <td scope="col" class="bg-danger info">{{info[-1]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="contenedor">
        <h2>Tabla de posiciones</h2>
        <table class="table table-dark table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Puntos</th>
                </tr>
            </thead>
            <tbody>
                {% for name, punto in orden.items() %}
                <tr>
                    <th scope="row">{{lista.index(name) + 1}}</th>
                    <td>{{name}}</td>
                    <td>{{punto}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</html>